.hidden {
  display: none;
}

.movie-title {
  flex-grow: 999 0 none;
  width: 10em;
}

.btn-edit, .btn-delete {
  flex: 0 1 auto;
  width: 1.5em;
  text-align: right;
  padding-top: 4px;
}

.movie-card-header {
  display: flex;
}

